version: 2
updates:

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "wednesday"
    open-pull-requests-limit: 10
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: "nuget"
    directories:
      - "/src/*"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    ignore:
      - dependency-name: "Serilog"
    groups:
      dotnet:
        patterns:
          - "*"

  - package-ecosystem: "nuget"
    directories: 
      - "/tests/*"
      - "/samples/*"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    groups:
      dotnet:
        patterns:
          - "*"