name: Build & Test
on: push

jobs:
  build:
    name: Main build
    runs-on: ubuntu-latest

    steps:
    - name: Git checkout
      uses: actions/checkout@v3

    - name: Setup .NET 7
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x

    - name: Run build script
      working-directory: scripts
      run: ./dotnet_build.sh

    - name: Upload nuget package to artifact
      uses: actions/upload-artifact@v3
      with:
        name: Serilog.Sinks.Intercepter
        path: ./src/Serilog.Sinks.Intercepter/bin/Release/Serilog.Sinks.Intercepter.*.nupkg
        if-no-files-found: error