name: GitHub action build
on: push

jobs:
  main-build:

    name: Main build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, buildjet-4vcpu-ubuntu-2204-arm]
    env:
      TEST_COVERAGE: ${{ matrix.os == 'ubuntu-latest' }}
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_NOLOGO: true

    steps:
    - name: Git checkout
      uses: actions/checkout@v6

    - name: Fix buildjet permissions
      if: matrix.os == 'buildjet-4vcpu-ubuntu-2204-arm'
      run: sudo chmod -R 777 /usr/share/dotnet/

    - name: Setup .NET 9
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 9.0.x

    - name: Setup .NET 10
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - name: Run build script
      working-directory: scripts
      shell: bash
      run: |
        if [ "$TEST_COVERAGE" == "true" ]
        then
          ./dotnet_build.sh test_coverage
        else
          ./dotnet_build.sh
        fi

    - name: Upload test coverage to Coveralls
      if: env.TEST_COVERAGE == 'true'
      uses: coverallsapp/github-action@v2
      with:
        format: cobertura
        files: release/coverage.xml

    - name: Upload dotnet info
      uses: actions/upload-artifact@v6
      if: env.TEST_COVERAGE == 'true'
      with:
        name: Built with
        path: release/dotnet_info.txt
        if-no-files-found: error

    - name: Upload test coverage
      uses: actions/upload-artifact@v6
      if: env.TEST_COVERAGE == 'true'
      with:
        name: Test coverage
        path: release/coverage.xml
        if-no-files-found: error

    - name: Upload NuGet packages
      uses: actions/upload-artifact@v6
      if: env.TEST_COVERAGE == 'true'
      with:
        name: NuGet packages
        path: release/Serilog.Sinks.Intercepter.*upkg
        if-no-files-found: error
